<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>
    <div class="text-center">    
      <h3><%= page %></h3><br>
      <% if(student.length>0){ %>
            <table class="table">
              <thead scope="col">
                <tr>
                  <th>Name</th>
                  <th>Reg no</th>
                  <th>Course</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<student.length; i++){ %>
                  <tr>
                    <td><a href="/student/show/<%= student[i]._id %>"><%= student[i].name%></a></td>
                    <td><%= student[i].regno%></td>
                    <td><%= student[i].course%></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <% } else { %>
                    <div>No students found</div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
